<h1>Potential Duplicates</h1>
<%= form_tag(documents_path, method: :get) do %>
	 <%= label_tag 'term', 'Potential Duplicate Record' %>
   <%= text_field_tag :term, params[:term] %>
	 <br /> <br />
	 <%= label_tag 'score', 'score' %>
   <%= number_field_tag :score, params[:score], in: 1...15 %>
	 <br />
   <%= submit_tag 'Find Potential Duplicate', name: nil %>
<% end %>
<table>
  <thead>
    <tr><th></th></tr>
  </thead>
  <tbody>
    <tr>
      <% for document in @documents %>
        <div class='document'>
            <strong> <%="#{document.first.title rescue document.title} 
                         #{document.first.content rescue document.content}"%> 
                         Weight: <%="#{document.second rescue "N/A" }"%>  </strong>
        </div>
				 <a href="/documents/<%="#{document.first.id rescue document.id}"%>/edit">Edit</a>
				 <a href="/documents/<%="#{document.first.id rescue document.id}"%>">Show</a>
      
      <% end %>
     </tr>       
  </tbody>
</table>

<%= will_paginate @documents rescue "" %>

<%= link_to 'New Document', new_document_path %>
